*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 94vw;
    margin: .5rem 3rem;
    background-color: white;
}
header {
    width: 100%;
    margin: 0;
    background-image: url("/assets/design1_image2.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    object-fit: contain;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;

}

nav > a {
    color: white;
    background-color: black;
    border: 1px solid white;
    margin: .5rem;
    padding: .5rem;
    text-decoration: none;

}   

a[href="#"] {
    background-color: yellow;
    color: black;
}

.nombre {
    font-size: 350%;
    text-shadow: 5px 10px 10px yellow;
    text-align: center;
    margin: 4rem;
}

#logo{
    background-color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: fill;

}

.texto {  
    margin: auto;
    margin-left: 20%;
    width: 50vw;
    padding: 10px;
    padding-bottom: 5rem ;
    text-align: justify;

}
.boxpagename {
    text-align: center;
    color:white;
    background-color: black; 
    padding: 1px;
    width: 100%;
    font-size: 1.2rem;
    top: 0;

}

h3, h4, p, table {
    margin-top: 2rem;
}

h2{
    font-style: oblique;
}

img{

    border-radius: 1rem;
    width: 50%;
    height: 50%;
    margin: 2rem;
}

.imghome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    object-fit: fill;

}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-left: -30%;
    margin-top: -3%;
}

th {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    background-color: black;
    color: white;
  }

td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    background-color: white;
  }

td:hover {background-color: yellow;}

.textodeabajo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
}

ol {
    display: flex;
    flex-direction: column;

}
ol > li {
    margin-top: 2rem;
}

.listaletras {
    list-style-type: lower-latin;
    margin-left: 5%;
    margin-top: 2%;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

form {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px 4px rgba(0,0,0,0.15);
    margin-top: 2rem;
}

.row {
    margin: 2rem;
    font-size: 120%;
}
h5, #agreement {
    margin-top: .5rem;
    font-weight: normal;
}

#submit, #sub {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 120%;
    padding: .5rem 10rem;
    margin-left: 10%;
    color: yellow;
    background-color: black;
    border-radius: 5px;
}

form input[type="radio"], form input[type="checkbox"], #school {
    margin: 1rem 0 0 1rem;
}

form p {
    font-weight: bold;
}

.maps {
    text-align: center;
    margin-top: 1rem;
}

iframe {
    margin: 2rem;
    border-radius: 2rem;
    width: 40%;
}

